:root {
  --first: #949987;
  --offwhite: #e1e1e1;
  --contrasthover: #a30a0a;
  --navtext: #061125;
  --text: #090a30;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

body {
  color: var(--first);
  background-color: var(--navtext);
}

header {
  padding: 20px;
  background-color: var(--first);
  color: var(--text);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  padding-right: 50px;
  color: var(--navtext);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--contrasthover);
}

li {
  padding-left: 70px;
}

h1 {
  padding: 15px;
}

aside {
  position: relative;
  float: left;
  width: 25%;
  top: 0px;
  bottom: 0px;
  color: var(--first);
  background-color: var(--navtext);
  padding: 30px 50px;
  text-align: center;
  display: block;
}

.block {
  flex: 1;
  display: block;
}

.layer {
  display: block;
  width: 100%;
  padding: 20px 50px;
}

section {
  display: block;
}

header,
footer {
  text-align: center;
}

footer {
  color: var(--first);
  margin-top: 10;
  padding-bottom: 15px;
}

img {
  border: 3px solid var(--contrasthover);
}

.projectcards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.image {
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  flex: 1 0 250px;
}

.firstimp {
  flex: 1 0 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
}
#port{ 
    max-height: 300px;
    width:auto;
}

main section {
  display: block;
}

aside p {
  padding: 1em 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  height: calc(100% - 36px);
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: var(--navtext);
}

.details{
    margin: auto;
    padding: 10px;
    line-height: 20px;
}
#About{
    padding: 15px;
}
.contacts{
    display:flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;

}

.card:hover figcaption {
  color: var(--contrasthover);
}

.card:hover .overlay {
  opacity: 0.5;
}

.hovertext {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45%;
  color: var(--offwhite);
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  aside {
    float: none;
    position: relative;
    display: flex;
    width: auto;
    top: auto;
    bottom: auto;
    flex: 1;
  }
  nav,
  h1,
  aside,
  main {
    flex-direction: column;
  }
}
