:root {
    --blue: blue;
    --offwhite: #e1e1e1;
    --contrasthover: red;
    --navtext: green;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
}

body {
    color: var(--blue);
    background-color: var(--offwhite);

}

header {
    padding: 20px;
    background-color: var(--blue);
    color: black;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    padding: 10px 50px 10px 0px;
    color: var(--navtext);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
color: var(--contrasthover);
}

li {
    padding-left: 70px;
}
h1{
    padding: 15px;

}

aside {
        
    position: relative;
    float:left;
    width:25%; 
    top: 0px;
    bottom: 0px;
    color: black;
    background-color: var(--navtext);
    padding: 30px 50px;
    text-align: center;
    display: block;
}
.block{    
    flex: 1;
    display: block;
}
.layer{
    display: block;
    width:100%;
}
section{
    display:block;
}

header,footer {
    text-align: center;
}

footer {
    color: black;
}
img {
    border: 3px solid var(--contrasthover); 
}
.projectcards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.image{
    align-items: center;
    height: 200px;
    width: 320px;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
    padding-bottom: 20px;
    flex:1;
}

main{
    display: flex;
    flex-wrap: wrap;
}
main section{
    display: block;
}
main p{
    padding: 1em 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    height: 200px;
    width: 320px;
    opacity: 0;
    transition: .5s;
    background-color: var(--navtext);
}

.card:hover .overlay {
    opacity: .5;
}

.hovertext {
    position: absolute;
    width:100%;
    height: 100%;
    top:45%;
    color: var(--offwhite);
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    aside{
        float:none;
        position: relative;
        display: flex;
        width: auto;
        top: auto;
        bottom: auto;
        flex: 1;
    }
    aside,
    main{
        
        flex-direction: column;
    }
    nav,
    h1 {
        flex-direction: column;
    }
}
