:root {
    --blue: #041fb6;
    --offwhite: #e1e1e1;
    --contrasthover: #a50606;
    --navtext: #1cc6fa;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

nav a {
    padding: 10px 50px 10px 0px;
    color: var(--navtext);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
color: var(--contrasthover);
}

li {
    padding-left: 70px;
}
h1{
    padding: 15px;
}
header p{
    line-height: 20px;
}
body {
    color: var(--blue);
    background-color: var(--offwhite);
}

header,footer {
    text-align: center;
}

footer {
    color: black;
}
img {
    border: 3px solid var(--contrasthover); 
}
.projectcards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.image{
    align-items: center;
    height: 200px;
    width: 320px;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
main{
    margin: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    height: 200px;
    width: 320px;
    opacity: 0;
    transition: .5s;
    background-color: var(--navtext);
}

.card:hover .overlay {
    opacity: .5;
}

.hovertext {
    position: absolute;
    width:100%;
    height: 100%;
    top:45%;
    color: var(--offwhite);
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}
/* @media screen and (min-width: 961px) {
    .card {
      flex: 0 1 50%;
    }
}
@media screen and (min-width: 1281px) {   
    .card {
      flex: 0 1 25%;
    }
  } */